# BUILD
/dist
/build
/coverage

# TEST
/test/**/results
/test/**/coverage

# NPM
node_modules

# VSCODE / MISE
.vscode/mise-tools

# PACKAGE SPECIFIC
/assets/config
/assets/test
/assets/test.*
/assets/classtime
bitmark.txt
out.json
generated


